<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swjtu.recylerviewtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/name_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".allCourseDetail.CourseDetailActivity" />
        <activity android:name=".loginRegister.LoginActivity" />
        <activity android:name=".loginRegister.RegisterActivity" />
        <activity android:name=".myCourse.MyCourseListActivity" />
        <activity android:name=".info.InfoActivity" />
        <activity android:name=".myCourse.MyCourseDetailActivity" />
        <activity android:name=".myCourse.discuss.QuestionDiscussActivity" />
        <activity android:name=".myCourse.discuss.ReleaseTopicActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".info.MyMessageActivity" />
        <activity android:name=".myDownload.MyDownloadActivity" />
        <activity android:name=".myCourse.coursePractice.PracticeProfileActivity" />
        <activity android:name=".myCourse.coursePractice.DoQuestionActivity" />
        <activity
            android:name=".searchCourse.CourseCategoryActivity"
            android:label="课程分类"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity android:name=".searchCourse.SearchCourseActivity" />
        <activity android:name=".myTestGrade.CourseGradeActivity"/>
        <activity android:name=".myTestGrade.CourseListActivity"/>
        <activity android:name=".myCourse.coursePractice.FailureAnalysisActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>